<div class="container" role="main">
<div id="content">
    <h1>{{ name }}</h1>
    <p><span class='glyphicon glyphicon-user' /> {{ en_name }}</p>
    <p><span class='glyphicon glyphicon-map-marker' /> {{ brand }}</p>
    <p><span class='glyphicon glyphicon-tag' /> {{ category }}</p>
    <p><span class='glyphicon glyphicon-credit-card' /> {{ price }}</p>
    <p class="important">
      {{ info }}
    </p>
    <p><span class='glyphicon glyphicon-globe' /><a href='{{ remote_url }}'> 查看原文</a></p>
</div>
</div>
